<a href="https://colab.research.google.com/github/abdulSalamKagaji97/AbdulSalam_DATA690/blob/main/Assignment_01/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Course: **Data 690**
- Assignment: **01**
- Semester  : **Spring 2022**
- Name      : **Abdul Salam Kagaji**
- Student Id : **XH61938**
- Date : **02/02/2022**

This is an intoductory code to python with some simple arithmetic operations and data structures

## 1. Standard out

In [ ]:
print("Hi! this is Abdul Salam Kagaji")

Hi! this is Abdul Salam Kagaji

## 2. Basic Arithmetic Operations

In [ ]:
var1 = 10
var2 = 20
if (var2//var1)%2 == 0:
  print(f"Var2 i.e. {var2} is divisible by Var1 i.e. { var1}") 
else:
  print(f"Var2 i.e. {var2} is not divisible by Var1 i.e. { var1}")

Var2 i.e. 20 is divisible by Var1 i.e. 10

# 3. Example data structure (lists) operation

In [ ]:
items = ["course1", "course2", "course3"]
for itemIndex,item in enumerate(items):
  print(f"Item {str(itemIndex)} : ", item)

Item 0 :  course1
Item 1 :  course2
Item 2 :  course3