<a href="https://colab.research.google.com/github/abdulSalamKagaji97/AbdulSalam_DATA690/blob/main/assignment_04/assignment_04_part_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 04 Part - A
- Name: **Abdul Salam Kagaji**
- Date: **02/25/2022**

## 1. Open the text file census_costs.txt and read all lines

In [2]:
with open ("census_costs.txt") as file: #opening the file with default access mode as 'read'
    line_list = file.readlines()
line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

## 2. Extract the first two lines and put them in a different list named "top2_list"

In [3]:
top2_list = line_list[0:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

## 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list"

In [4]:
data_list = line_list[2:]
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

## 4. Extracting the  "Census Year" column from the data_list and cleansing it for "*"

In [5]:
columns = top2_list[1].split("\t") # get column labels
req_col_index = 0
for i,col in enumerate(columns): # iterate to find the index of requeried column
    if col == 'Census Year':
        req_col_index = i

year_list = []

# get years

for li in data_list:
    year_list.append(int(li.split("\t")[req_col_index].replace("*","")))

print(year_list)

[1790, 1800, 1810, 1820, 1830, 1840, 1850, 1860, 1870, 1880, 1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]

## 5. Extracting the  "Total Population" column from the data_list and cleansing it for ","

1.   List item
2.   List item

In [6]:
for i,col in enumerate(columns): 
    if col == 'Total Population':
        req_col_index = i

# get populations
pop_list = []
for li in data_list:
    pop_list.append(int(li.split("\t")[req_col_index].replace(",","")))

print(pop_list)

[3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

## 6. Extracting the  "Census Cost" column from the data_list and cleansing it for ",","$","Billion"

In [7]:
for i,col in enumerate(columns): 
    if col == 'Census Cost':
        req_col_index = i

# get populations
cost_list = []
for li in data_list:
    cost_list.append(float(li.split("\t")[req_col_index].replace(" ","").replace("$","").replace(",","").replace("Billion",'000000000')))

print(cost_list)

[44377.0, 66109.0, 178445.0, 208526.0, 378545.0, 833371.0, 1423351.0, 1969377.0, 3421198.0, 5790678.0, 11547127.0, 11854000.0, 15968000.0, 25117000.0, 40156000.0, 67527000.0, 91462000.0, 127934000.0, 247653000.0, 1078488000.0, 2492830000.0, 4.5, 13000000000.0]

## 7. Extracting the  "Average Cost Per Person" column from the data_list and cleansing it for "$","cents"

In [8]:
for i,col in enumerate(columns): 
    if "Average Cost Per Person" in col:
        req_col_index = i
# get populations
avg_list = []
for li in data_list:
    avg_value = li.split("\t")[req_col_index].replace("$","").replace("\n","")
    if "cents" in avg_value:
        avg_value = float(avg_value.replace("cents","")) / 100
    else:
        avg_value = float(avg_value)
    avg_list.append(avg_value)

print(avg_list)

[0.0113, 0.0124, 0.0246, 0.0216, 0.0294, 0.048799999999999996, 0.061399999999999996, 0.0626, 0.08869999999999999, 0.11539999999999999, 0.1833, 0.15539999999999998, 0.1707, 0.2376, 0.3271, 0.5129, 0.6043999999999999, 0.7134, 1.22, 4.76, 10.02, 15.99, 42.11]

## 8. Writing the cleansed data to "census_cost.csv" in comma-seperated format

In [9]:
with open("census_cost.csv",'w') as cleansed_file:
    for line in top2_list:
        cleansed_file.write(line.replace("\t",','))
    for obv in range(len(avg_list)):
        cleansed_file.write(f"{year_list[obv]},{pop_list[obv]},{cost_list[obv]},{avg_list[obv]}\n")

## 9. Reading the "census_cost.csv" file and displaying all the lines

In [11]:
with open ("census_cost.csv") as file: #opening the file with default access mode as 'read'
    line_list = file.readlines()
for line in line_list:
    print(line)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year,Total Population,Census Cost,Average Cost Per Person

1790,3929214,44377.0,0.0113

1800,5308483,66109.0,0.0124

1810,7239881,178445.0,0.0246

1820,9633822,208526.0,0.0216

1830,12866020,378545.0,0.0294

1840,17069458,833371.0,0.048799999999999996

1850,23191876,1423351.0,0.061399999999999996

1860,31443321,1969377.0,0.0626

1870,38558371,3421198.0,0.08869999999999999

1880,50155783,5790678.0,0.11539999999999999

1890,62979766,11547127.0,0.1833

1900,76303387,11854000.0,0.15539999999999998

1910,91972266,15968000.0,0.1707

1920,105710620,25117000.0,0.2376

1930,122775046,40156000.0,0.3271

1940,131669275,67527000.0,0.5129

1950,151325798,91462000.0,0.6043999999999999

1960,179323175,127934000.0,0.7134

1970,203302031,247653000.0,1.22

1980,226542199,1078488000.0,4.76

1990,248718301,2492830000.0,10.02

2000,281421906,4.5,15.99

2010,308745538,13000000000.0,42.11