<a href="https://colab.research.google.com/github/abdulSalamKagaji97/AbdulSalam_DATA690/blob/main/assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice

- Date: 02/21/22
- Name: Abdul Salam Kagaji

In [ ]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ 2 @ 6 @ 2 @ @ 2 @
 6 @ 8 4 4 4 @ 0 6 0
 0 @ @ @ 8 8 @ @ @ 2
 8 4 4 @ 6 4 8 8 8 @
 @ 2 6 8 4 @ 0 @ 8 2
 @ @ 2 6 @ @ 4 4 @ 8
 @ @ @ @ 8 4 2 6 8 @
 8 6 @ 2 @ 8 4 @ 8 8
 @ 4 2 @ 8 4 2 @ 0 8
 @ @ @ @ 6 @ @ @ 8 @

In [ ]:
x = "hellow, addul"
x

'hellow, addul'

In [ ]:
x = x.replace('ad','ab').replace('w',"")
x

'hello, abdul'

In [ ]:
x = x.replace("abdul","salam ")
x

'Hello, salam'

In [ ]:
x = x.capitalize()
x

'Hello, salam'

In [ ]:
x = x.upper()
x

'HELLO, SALAM'

In [ ]:
x = x.lower()

'hello, salam'

In [ ]:
x = x.endswith("m")

True

In [ ]:
x = x.strip()
x

'Hello, salam'

# String functions/methods/operations

- upper()
- lower()
- replace()
- strip()
- lstrip()
- rstrip()

In [ ]:
#  generate 100 number first
numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))
print(numbers)
print(len(numbers))

[2, 4, 8, 2, 0, 0, 5, 1, 7, 6, 2, 4, 7, 2, 3, 9, 3, 0, 1, 7, 5, 7, 5, 4, 5, 8, 3, 3, 8, 9, 0, 8, 0, 6, 1, 9, 8, 6, 2, 0, 6, 2, 1, 6, 2, 2, 5, 3, 2, 4, 2, 5, 5, 5, 0, 0, 2, 8, 1, 8, 3, 6, 5, 2, 5, 3, 2, 9, 5, 1, 0, 9, 2, 4, 5, 0, 6, 4, 2, 6, 6, 0, 1, 4, 7, 6, 4, 2, 1, 8, 0, 4, 1, 3, 0, 8, 9, 1, 5, 6]
100

In [ ]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

2   4   8   2   0   0   5   1   7   6

2   4   7   2   3   9   3   0   1   7

5   7   5   4   5   8   3   3   8   9

0   8   0   6   1   9   8   6   2   0

6   2   1   6   2   2   5   3   2   4

2   5   5   5   0   0   2   8   1   8

3   6   5   2   5   3   2   9   5   1

0   9   2   4   5   0   6   4   2   6

6   0   1   4   7   6   4   2   1   8

0   4   1   3   0   8   9   1   5   6

In [ ]:
# when to initialize a variable
sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

3 8 5 6 2 2 2 5 6 7 * 46
8 5 3 1 7 5 8 2 0 4 * 43
6 5 6 3 8 6 4 7 1 9 * 55
6 6 7 0 4 5 2 2 8 0 * 40
9 2 7 9 4 5 9 5 3 6 * 59
8 0 9 7 2 7 4 7 1 8 * 53
5 6 3 8 2 1 4 9 0 0 * 38
0 4 8 7 1 3 0 5 7 0 * 35
5 4 4 3 3 5 7 6 3 9 * 49
0 5 7 8 3 0 7 1 8 0 * 39

In [ ]:
# when to initialize a variable
for n in range (10): #repeats each row 10 times
    sum=0
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char

9 7 2 6 3 6 1 1 4 4 * 43
8 5 0 8 1 6 7 9 9 9 * 62
2 2 8 4 1 1 7 0 2 7 * 34
4 0 2 9 4 4 5 8 6 3 * 45
7 9 9 3 1 2 4 5 4 8 * 52
9 9 9 2 4 0 2 5 5 2 * 47
9 9 8 6 4 8 3 5 8 8 * 68
0 9 3 9 3 7 1 2 0 7 * 41
2 8 6 2 5 9 0 8 9 9 * 58
1 3 7 8 6 9 5 9 3 8 * 59

In [ ]:
x = [0,0]
x

[0, 0]

In [ ]:
x = [0] * 10
x

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]